footer{
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    margin-top: 40px;
}

.top-side{
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 50%;
}

/* Logo Part */
.logo-side{
    display: flex;
}   

.logo-side img{
    width: 90px;
    height: 90px;
}

.logo-side .text{
    display: flex;
    flex-direction: column;
    line-height: 0;
}

.logo-side .text h4{
    font-size: 1.2em;
}

.logo-side .text p{
    font-style: italic;
}

/* Link Side */
.link-side{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 10px;
}

.link-side a{
    margin-bottom: 7px;
}

.link-side h4{
    margin-top: 0;
    margin-bottom: 15px;
}

/* Copyrigth */
footer hr{
    width: 50%;
}

footer p{
    align-self: center;
}

@media (max-width: 768px){
    .top-side{
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
        text-align: center;
    }

    .link-side{
        align-self: center;
        margin: 0;
    }

    footer hr{
        width: 80%;
    }
}
