.trending, .discover, .search{
    width: 90%;
    max-width: 1400px;
    margin: 50px auto 0; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 25px;
}


.trending{
    background-color: var( --section-background-color);
    scroll-margin-top: 150px; /* Anchor Gap */
}

#trending-container,
#discover-container,
#search-container,
#favorites-container,
#bookmarks-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(7, 1fr);
    justify-content: start;
}

#discover-container{
    overflow: visible;
}

#trending-container{
    grid-template-columns: repeat(6, 1fr);
}

.trending h2, .discover h2{
    font-family: Montserrat;
    font-size: 2em;
    justify-self: center;
}

@media (max-width: 1400px) {
    #discover-container,
    #search-container,
    #favorites-container,
    #bookmarks-container {
        grid-template-columns: repeat(5, 1fr);
    }


    #trending-container{
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1024px) {

    #trending-container,
    #discover-container,
    #search-container,
    #favorites-container,
    #bookmarks-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {

    #trending-container,
    #discover-container,
    #search-container,
    #favorites-container,
    #bookmarks-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    #trending-container,
    #discover-container,
    #search-container,
    #favorites-container,
    #bookmarks-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 469px) {
    .trending, .discover, .search{
        padding: 0;
    }

    .trending h2, .discover h2{
        font-size: 1.5em;
    }

}
