/*All main container*/
.trending, .discover, .search{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-self: center;
    justify-content: center;
    padding: 20px;
    border-radius: 25px;
    gap: 20px;
    margin-top: 50px;
    z-index: 5;
}

.trending{
    background-color: var( --section-background-color);
    scroll-margin-top: 150px /* Anchor Gap */
}

.search{
    width: 90%;
}

#trending-container, #discover-container, #search-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#discover-container{
    flex-direction: column;
}

#trending-container{
    width: fit-content;
    flex-direction: row;
}

#search-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.trending h2, .discover h2{
    font-family: Montserrat;
    font-size: 2em;
    justify-self: center;
}

@media (max-width: 469px) {
    .trending, .discover, .search{
        padding: 0;
    }

    #trending-container{
        gap: 0;
    }

    .trending h2, .discover h2{
        font-size: 1.5em;
    }


}