/* Section Trending */

.trending{
    position: relative;
    justify-self: center;   
    width: 80%;
    height: fit-content;
    background-color: var( --section-background-color);
    padding: 20px;
    border-radius: 25px;
}