.movie-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    margin: 20vh auto;
    background: var(--movie-details-background-color);
    padding: 25px;
    border-radius: 12px;
}

.first-line {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.movie-left {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.poster {
    width: 350px;
    border-radius: 10px;
}

.movie-right {
    flex: 1;
}

.movie-right > div {
    margin-bottom: 15px;
}

.movie-details h1 {
    margin: 0 0 10px;
    font-size: 2.2rem;
}

.genres {
    opacity: 0.7;
    margin-bottom: 15px;
}

.overview {
    margin-bottom: 20px;
    line-height: 1.5;
}

.info-grid {
    display: flex;
    flex-direction: column;
    gap: 10px 20px;
}

.info-grid p {
    margin: 0;
}

.title{
    display:flex; 
    justify-content:space-between;
}

/* Casting */
.actors-container > p {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.actors {
    display: grid;
    gap: 15px;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
}

.actor-card {
    background: var(--actors-card-background-color);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    max-width: 250px;
}

.actor-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.actor-card img {
    width: 100%;
    border-radius: 8px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 8px;
}

.actor-name {
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 4px;
}

.actor-character {
    font-size: 0.8rem;
    opacity: 0.7;
}

.movie-right span.year{
    color:gray;
    font-size: 0.7em;
    margin-left: 10px;
}

@media (max-width: 1400px) {
    .actors {
        grid-template-columns: repeat(5, 1fr);
    }
}

/* Responsive */
@media(max-width: 1150px) {
    .movie-details h1 {
        font-size: 1.7em;
    }
}

@media (max-width: 1024px) {
    .actors {
        grid-template-columns: repeat(4, 1fr);
    }

}

@media(max-width: 800px) {
    .first-line {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .title{
        justify-content:center;
        gap: 10px;
    }

    .poster {
        width: 250px;
    }

    .movie-details *:not(h1) {
        font-size: 95%;
    }

    .actor-card img {
        height: 130px;
    }
}


@media (max-width: 730px) {
    .actors {
        grid-template-columns: repeat(2, 1fr);
    }
}