.fade-slide-in {
  opacity: 0;
  animation: fadeIn 0.7s forwards;
}

/* FADE IN*/
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1;}
}

/* BOUNCE */
@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}

/* BACKDROP */
@keyframes blurBackdropIn {
  from {
    opacity: 0;
    filter: blur(0px) brightness(0.8);
  }
  to {
    opacity: 1;
    filter: blur(10px) brightness(0.5);
  }
}

/* DETAILS / ELEMENTS */
@keyframes fadeDetailsIn {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadePosterIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

