/* Hero Arrow */
.scrollHint {
    position: absolute;
    display: inline-block;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    overflow: auto;
    animation: bounce 1s infinite ease-in-out;
}

.arrow {
    font-size: 2.5rem;
    color: var(--button-arrow-text-color);
    cursor: pointer;
}

/* Load More */
#load-more {
    padding: 12px 28px;
    background: var(--button-load-bg);
    border: none;
    width: fit-content;
    border-radius: 8px;
    color: var(--button-load-text-color);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: var(--button-load-box-shadow);
    justify-self: center;
    align-self:center;
}

#load-more:hover {
    transform: translateY(-3px);
    box-shadow: var(--button-load-box-shadow-hover);
}

#load-more:active{
    transform: scale(var(--button-load-active-scale));
}

/* Hamburger Bouton */
#hamburger-button{
    z-index: 99;
    width: 40px;
    height: auto;
    filter: invert();
}

/* Like + Bookmarks */
.movie-details-button{
    display: flex;
    align-self: center;
}

.movie-details-button button {
    background: var(--button-movie-bg);
    border: none;
    cursor: pointer;
}

.movie-details-button .bookmark-btn img{
    width: 25px;
}

.movie-details-button .fav-btn img{
    width: 33px;
}

.movie-details-button button:hover {
    transform: scale(var(--button-movie-hover-scale));
}

.movie-details-button button:active {
    transform: scale(var(--button-movie-active-scale));
}
