/* Hero Arrow */
.scrollHint {
    position: absolute;
    display: inline-block;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    overflow: auto;
    animation: bounce 1s infinite ease-in-out;
}

.arrow {
    font-size: 2.5rem;
    color: white;

    cursor: pointer;
}

/* Load More */
#load-more {
    padding: 12px 28px;
    background: linear-gradient(135deg, #ff6a00, #ffb347);
    border: none;
    width: fit-content;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    justify-self: center;
    align-self:center;
}

#load-more:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

#load-more:active{
    transform: scale(0.9);
}

/* Hamburger Bouton */
#hamburger-button{
    z-index: 99;
    width: 40px;
    height: auto;
    filter: invert();
}

/* Like + Bookmarks */
.movie-details-button{
    display: flex;
    align-self: center;
}

.movie-details-button button {
    background: none;
    border: none;
    cursor: pointer;
}

.movie-details-button button img{
    width: 50px;
}

.movie-details-button button:hover {
    transform: scale(1.1);
}

.movie-details-button button:active {
    transform: scale(0.95);
}
