.movie-card {
    display: flex;
    flex-direction: column;
    width: 240px;
    background-color: var(--card-background-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-family: sans-serif;
    margin: 10px;
    text-decoration: none;
    border: 2px solid transparent;
}


.movie-card img {
    width: 100%;
    height: auto;
    max-height: 350px; 
    object-fit: cover;
    display: block;
}

.movie-card h3 {
    font-size: 1.1rem;
    margin: 15px;
    color: var(--card-text-color);
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;

    /* Wrap 2 lines */
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.movie-card p {
    margin: 0 15px 15px 15px;
    color: var(--card-subtitle-text-color);
    font-size: 0.9rem;
    overflow-wrap: break-word;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border: 2px solid rgb(102, 102, 102);
}

.movie-card:active{
    transform: scale(0.9);
}

.end-message{
    align-self: flex-end;
    width: 240px;
    max-width: 240px;
    flex: 1;
    font-style: italic;
}

@media (max-width: 1170px) {
    .movie-card{
        width: 200px;
    }
}

@media (max-width: 1008px) {
    .movie-card{
        width: 150px;
    }
}

@media (max-width: 748px) {
    .movie-card{
        width: 100px;
    }

    .movie-card h3{
        font-size: 0.8em;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        max-height: 4em;
    }
}

@media (max-width: 388px) {

    .movie-card{
        margin: 5px;
    }

}

@media (max-width: 357px) {

    .movie-card{
        width: 80px;
    }

}
