/* Barre de Recherche */
.searchBar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.searchInput {
    padding: 10px 15px;
    border-radius: 12px;
    width: 400px;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: rgb(229, 229, 229);
    color: rgb(44, 44, 44);
}

.searchBtn {
    background: rgb(229, 229, 229);
    border: none;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.searchBtn img {
    width: 20px;
    height: 20px;
}

.searchBtn:hover {
    background: rgb(100, 100, 100);
}

/* Settings custom pour l'index */

.searchBar.indexSearchBar .searchInput{
    padding: 10px 60px 10px 10px;
}

.searchSearchBar{
    position: absolute;
    z-index: 9;
    justify-self: center;
    top: 30vh;
    padding: 10px 60px 10px 10px;
    font-size: 1.3em;
}

.searchSearchBar .searchInput{
    padding: 15px 500px 15px 10px;
}

.searchSearchBar .searchBtn img {
    width: 30px;
    height: 30px;
}
