/* Variables */
@import url(variables.css);

/* Layout */
@import url(layout/header.css);
@import url(layout/hamburger.css);
@import url(layout/hero.css);
@import url(layout/main.css);
@import url(layout/footer.css);

/* Components */
@import url(components/animation.css);
@import url(components/button.css);
@import url(components/card.css);
@import url(components/searchBar.css);
@import url(components/loader.css);

*{
    /* outline: solid red 2px; */
    transition: all 0.2s ease;
}

html{
    scroll-behavior: smooth;  
}

html, body {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    color: var(--default-text-color);
    background: var(--default-background-color);
    font-family: Poppins; /* Default Fonts */

}

/* Link Style */
.link{
    color: var(--default-text-color);
    text-decoration: none;
}

.link:hover{
    transform: scale(1.05);
    text-decoration: underline;
}

/* Disabled Link */
.disabled{
    pointer-events: none;
    color: rgb(152, 152, 152) !important;
}

/* End Searching Message */
.end-message{
    align-self: flex-end;
    width: 240px;
    max-width: 240px;
    flex: 1;
    font-style: italic;
}

/* MetaScore Badge */
.rating-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgb(0, 0, 0);
    padding: 5px 8px;
    border-radius: 4px;
    font-weight: bold;
}