@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
Available Fonts:
    Poppins
    Montserrat
    Bebas Neue
*/

:root{

    /* DEFAULT */

    --default-text-color: #f1f1f1;
    --default-background-color:  #2c2c2c;

    --section-background-color: #1b1b1b84;

    --footer-background-color: #1b1b1b84;

    --card-background-color: rgb(28, 28, 28);
    --card-text-color: #f1f1f1;
    --card-subtitle-text-color: #bdbdbd;
    
    /* Hero */
    --hero-bg-img: url("../../assets/background.jpg") no-repeat center/cover;
    --hero-overlay-gradient: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(18, 18, 18, 0.9) 100%);
    --hero-title-color: #fff;
    
    /* Movie Details */
    --movie-details-background-color: #1a1a1a;
    --actors-card-background-color: #2a2a2a;

    /* Search Bar */
    --searchbar-bg: rgb(229, 229, 229);
    --searchbar-text-color: rgb(44, 44, 44);
    --searchbar-bg-hover: rgb(100, 100, 100);
    --searchbar-results-text: #fff;

    /* Hamburger */
    --hamburger-overlay-bg: rgba(28, 28, 28, 0.821);
    
    /* Loader */
    --loader-bg: #111;
    --loader-spinner: #f3f3f3;
    --loader-spinner-top: #c24a00;



    /* Button Variables */

    /* Movie Details Button (Likes + Bookmarks) */
    --button-movie-bg: none;
    --button-movie-hover-scale: 1.1;
    --button-movie-active-scale: 0.95;

    /* Arrow (scrollHint) */
    --button-arrow-text-color: #fff;

    /* Load More Button */
    --button-load-bg: linear-gradient(135deg, #ff6a00, #ffb347);
    --button-load-text-color: #fff;
    --button-load-box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    --button-load-box-shadow-hover: 0 6px 15px rgba(0,0,0,0.25);
    --button-load-active-scale: 0.9;
}